*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


docker_sql/db_data/#innodb_temp/
docker_sql/db_data/auto.cnf
docker_sql/db_data/binlog.000011
docker_sql/db_data/ibtmp1
docker_sql/db_data/mysql.sock